{% extends "ams/layout.html" %}
{% block body %}
    <form action="{% url 'register_attendance' ClassSubject_id Date %}" method="post">
    {% csrf_token %}
    <div style="width: 70%; margin: auto;">
        <br>
        <div>
            <div style="width: 55%;Text-align: end;float:left;">
            <h1>{{ Class }}</h1></div>
            <div style="float:right">
            <h5>Date: {{ Date }}</h5></div>
        </div><br><br><br>
            <table class="table table-hover" height="90px" width="1000px" align="center" border=0> 

                <tr style="background-color:#51a6ca;">
                <td align="center"><b>Name</b></td>
                <td align="center"><b>Enrollemnt Number</b></td>
                <td align="center"><b>Status</b></td>
            
                </tr> 
                {% for i in students%}
                <tr>
                    <td align="center"><div>{{ i }}</div></td>
                    <td align="center"><div> {{ i.enrollment_number }}</div></td>
                    <td align="center"><select id="id_filter_by" name='{{ i.enrollment_number }}'>
                        <option value='P'>Present</option>
                        <option value='A'>Absent</option>
                    </select></td>
                </tr>
                {% endfor %}
                
            </table>
            <br>
            <hr style="height:2px;color:gray;background-color:rgb(0, 0, 0)">
            <div align="left">
                <input type="submit" class="btn btn-primary" value="Update">
            </div>
        </div>
    </form>

{% endblock %}