{% extends "ams/layout.html" %}
{% block body %}
    <h1 style="text-align: right;"><a href="{% url 'logout' %}" class="btn" style="font-size:x-large;">Logout</a></h1>
    <br><h1 style="color:#000000; text-align: center; font-size:200%;">Faculty Information</h1><br><br>
    <table height="150px" width="1000px" align="center" border=0> 

        <tr style="background-color:#51a6ca;">
        <td align="center"><b>First Name</b></td>
        <td align="center"><b>Last Name</b></td>
        </tr> 
        <tr>
        <td align="center"><div>{{ request.user.first_name }}</div></td>
        <td align="center"><div>{{ request.user.last_name }}</div></td>
        </tr>
        <tr style="background-color:#51a6ca;">

        <td align="center"><b>Department</b></td>
        <td align="center"><b>Email</b></td>
        </tr> 
        <tr>
        
        <td align="center"><div>{{ request.user.faculty.department }}</div></td>
        <td align="center"><div>{{ request.user.email }}</div></td>
        </tr>
        
    </table>
    <br><h1 style="color:#000000; text-align: center; font-size:200%;">Lectures</h1><br>
    
    <table height="90px" width="1000px" align="center" border=0> 

        <tr style="background-color:#51a6ca;">
        <td align="center"><b>Subject</b></td>
        <td align="center"><b>Class</b></td>
        <td align="center"><b>Date</b></td>
        <td align="center"><b>Attendance</b></td>
        </tr> 
       
        {% now "d-m-Y" as lecture_date %}

        {% for i in faculty_subjects %}
        <tr>
            <td align="center"><div>{{ i.subject }}</div></td>
            <td align="center"><div> {{ i.Class }}</div></td>
            <td align="center">{{ lecture_date }}</td>
            <td align="center"><a class="btn btn-primary" href="{% url 'attendance' i.id lecture_date %}">Take Attendance</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}