{% extends "ams/layout.html" %}
{% block body %}
<br><h3 style="color:#3da3cf; text-align: center; font-size:350%;">Attendance Management</h3>
    <br><br><div class="card" style="width: 332px; height: 332px; background-color:#51a6ca; text-align: center;">
        <div class="card-body" style="width: 20rem; height: 20rem;">
            
            <img style="width: 180px; height: 180px;" class="card-img-top" src="https://png.pngtree.com/png-vector/20191003/ourmid/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1786166.jpg">
            <br><br>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
    </div>
{% endblock %}
