{% extends "ams/layout.html" %}
{% block body %}
    <h3 style="color:#48a3ca; text-align: center; font-size:500%;">Login</h3><br>

    <form action="{% url 'login' %}" method="post" style="text-align: center;">
        {% csrf_token %}
        
        <input class="navbar navbar-expand-md navbar-light bg-light border" name="username" type="text" placeholder="Username" style="margin-left: 620px;"><br><br>
        <input class="navbar navbar-expand-md navbar-light bg-light border" name="password" type="password" placeholder="Password" style="margin-left: 620px;"><br><br>
        <input class="btn btn-primary" type="submit" value="Login"><br><br>
    </form>

    {% if message %}
    <div style="text-align: center; color: red;">
        {{ message }}
    </div>
    {% endif %}
{% endblock %}