{% extends "ams/layout.html" %}
{% block body %}
    <h1 style="text-align: right;"><a href="{% url 'logout' %}" class="btn" style="font-size:x-large;">Logout</a></h1>
    <br><h1 style="color:#000000; text-align: center; font-size:200%;">Student Information</h1><br><br>
    <table height="150px" width="1000px" align="center" border=0> 

        <tr style="background-color:#51a6ca;">
        <td align="center"><b>First Name</b></td>
        <td align="center"><b>Last Name</b></td>
        <td align="center"><b>Enrollment Number</b></td>
        </tr> 
        <tr>
        <td align="center"><div>{{ request.user.first_name }}</div></td>
        <td align="center"><div>{{ request.user.last_name }}</div></td>
        <td align="center"><div>{{ request.user.student.enrollment_number }}</div></td>
        </tr>
        <tr style="background-color:#51a6ca;">

        <td align="center"><b>Semester</b></td>
        <td align="center"><b>Email</b></td>
        <td align="center"><b>Class</b></td>
        </tr> 
        <tr>
        
        <td align="center"><div>{{ request.user.student.semester }}</div></td>
        <td align="center"><div>{{ request.user.email }}</div></td>
        <td align="center"><div>{{ request.user.student.Class }}</div></td>
        </tr>
        
    </table>
    
    <hr style="height:2px;width:30%;color:gray;background-color:gray">

    <br><h1 style="color:#000000; text-align: center; font-size:200%;">Attendance Information</h1><br>
    
    <table height="100px" width="1000px" align="center" border=0> 

        <tr style="background-color:#51a6ca;">
        <td align="center"><b>Subject</b></td>
        <td align="center"><b>Attendance</b></td>
        </tr> 
        {% for key, value in sub_attendance.items %}
    
        <tr>
            <td align="center"><div> {{ key }}</div></td>
            <td align="center"><div>{{ value }} %</div></td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}